<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{recipe.search}">レシピ検索</title>
</head>

<body>

<div layout:fragment="content">
  <h2 th:text="#{recipe.search}">レシピ検索</h2>

  <form action="/recipes/search" method="post" th:object="${recipeForm}">

    <ul>
      <li th:each="error: ${#fields.detailedErrors()}" th:text="${error.message}">
    </ul>

    <span th:text="#{name}">名前</span>:<input type="text" name="name" th:value="*{name}"><br/>

    <button type="submit" th:text="#{sear}">検索</button>
  </form>
  
  <table>
    <thead>
    <tr>
      <th th:text="#{id}"></th>
      <th th:text="#{name}">名前</th>
      <th th:text="#{cal}">カロリー</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}" th:object="${recipe}">
      <td th:text="*{id}"></td>
      <td th:text="*{name}"></td>
      <td th:text="*{cal}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>