<!DOCTYPE html>
<html lang="ja"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
<head>
	<meta charset="UTF-8">
	<title th:text="#{menu.list}">メニュー一覧</title>
	
	<style>
	table {
		border: 1px solid gray;
	}
	
	table th, table td {
		border: 1px solid gray;
	}
	</style>
</head>
<body>
<div layout:fragment="content">
  <h2 th:text=#{menu.search}>メニュー検索</h2>

  <form action="/menus/list" method="get" th:object="${menuForm}">
  
    <ul>
      <li th:each="error: ${#fields.detailedErrors()}" th:text="${error.message}"></li>
    </ul>

    <span th:text="#{name}">名前</span>:
    <input type="search" name="search" th:value="*{search}"><br>
    <span th:text="#{category}">種類</span>:
    <input type="serrch" name="category" th:value="*{category}">
    <button type="submit" th:type="#{search}">検索</button>
  </form>

  <h2 th:text="#{menu.list}">メニュー一覧</h2>

  <table>
    <thead>
    <tr>
      <th th:text="#{id}"></th>
      <th th:text="#{name}">名前</th>
      <th th:text="#{category}">種類</th>
      <th th:text="#{price}">価格</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="menu : ${menus}" th:object="${menu}">
      <td th:text="*{id}"></td>
      <td th:text="*{name}"></td>
      <td th:text="*{category}"></td>
      <td th:text="*{price}"></td>
      <td>
       <a th:href="@{'/menus/update/' + *{id}}" th:text="#{update}">更新</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>

</html>